.search-container{
    width:100%;
     display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center;
     background-color: aliceblue;
}

.search-bar{
    text-align:center;
    background-color: aliceblue;
    border: 4px solid black;
}

.search-suggestion{
    cursor:pointer; 
    font-size: 15px;
}