

.resource-title{
    text-align: center;
    margin: 0px;
    text-align: center;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    background: #2ECFBF;
    background: repeating-radial-gradient(circle farthest-corner at center center, #2ECFBF 50%, #2ECFBF 50%, #AECF55 100%, );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}
.resource-subtitle{
    text-align: center;
    margin: 0px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    background-color: aliceblue;
}
.resource-container {
    display:flex;
    align-items:center;
    width:100%;
    height:100%;
    justify-content:space-between;
    text-align: center;
    background-color: aliceblue;
}

.selected-category {
    font-family: 'Rubik', sans-serif;
    background-color: aliceblue;
}

.all-resources {
    text-align: center;
    margin: 0px;
    text-align: center;
    font-size: 10x;
    font-family: 'Rubik', sans-serif;
    background-color: aliceblue;
}